/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace !important;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}
